<config>
	<!-- Slot Control -->
	<cause v="Cancer"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="1a8a8228dbbad5161a8a8228dbbad516"/>
	<team v=""/>
	<user v="oglnmru9mgsm"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>