<config>
	<!-- Slot Control -->
	<cause v="Cancer"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="0d46ece693fe5bab0d46ece693fe5bab"/>
	<team v=""/>
	<user v="gw3ahuquc9zk"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>