<config>
	<!-- Slot Control -->
	<cause v="Cancer"/>
	<power v="full"/>

	<!-- User Information -->
	<passkey v="d07fbed7088833d1d07fbed7088833d1"/>
	<team v=""/>
	<user v="5p5cgpgabxja"/>

	<!-- Folding Slots -->

	<slot id="1" type="GPU">
		<pci-bus v="0"/>
		<pci-slot v="5"/>
	</slot>
</config>